html {
  position: relative;
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Main Container with Upper Margin */

.main-container {
  margin-top: 120px;
  margin-bottom: 40px;
}

/* Home Page Background Image */

#home-page-background {
  background-image: url("images/bar.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 72vh;
  display: flex;
  align-items: center;
  margin: 0px;
}

/* Home Page Background Text, Search Field Styling, and Content Styling */

#searchPlacesDiv {
  left: 60%;
  position: relative;
}

#title-div {
  float: right;
  position: relative;
}

#search-field-div {
  float: right;
  position: relative;
  z-index: 1;
}

#beer-text {
  font-size: 30px;
  color: white;
}

#find-beer-home {
  float: left;
  width: 33.4%;
  height: 250px;
  background-color: #212121;
  text-align: center;
  color: #FAFAFA;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#save-places-home {
  float: left;
  width: 33.2%;
  height: 250px;
  background-color: #424242;
  text-align: center;
  color: #FAFAFA;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#rate-places-home {
  float: left;
  width: 33.4%;
  height: 250px;
  background-color: #212121;
  text-align: center;
  color: #FAFAFA;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-page-icon {
  margin-top: 20px;
}

/* Footer and Nav Styling */

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #FAFAFA;
  text-align: center;
  vertical-align: 30px;
}

#footerText {
  margin: 0px
}

#logoDiv {
  position: fixed;
  padding: 16px 20px;
}

#navBar {
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 100;
  height: 100px;
}

#navBtns {
  float: right;
  margin-top: 35px;
}

/* Search Page Styling */
#search-page-background {
  background-image: url("images/craft-beer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  align-items: center;
  margin: 0px;
  overflow: auto;
}

#card-title {
  font-size: 28px;
}

#results-card-container {
  margin-bottom: 30px;
}

.save-button {
  float: right;
}

/* Saved Page Styling */

#card-action-div {
  float: right;
  padding: 0px;
  margin-top: 16px;
}

#saved-page-background {
  background-image: url("images/now-brewing.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  align-items: center;
  margin: 0px;
  overflow: auto;
}

h3 {
  color: #FAFAFA;
}

/* Saved Places Detail Page */

#card-action-div {
  float: right;
  padding: 0px;
  margin-top: 16px;
}

#saved-detail-page-background {
  background-image: url("images/neon.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  align-items: center;
  margin: 0px;
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1300px) {
  #searchPlacesDiv {
    left: 57%;
    position: relative;
  }
}

@media only screen and (max-width: 1250px) {
  #searchPlacesDiv {
    left: 55%;
    position: relative;
  }
}

@media only screen and (max-width: 1200px) {
  #searchPlacesDiv {
    left: 52%;
    position: relative;
  }
}

@media only screen and (max-width: 1150px) {
  #searchPlacesDiv {
    left: 50%;
    position: relative;
  }
}

@media only screen and (max-width: 1060px) {
  #searchPlacesDiv {
    left: 46%;
    position: relative;
  }
}

@media only screen and (max-width: 990px) {
  #searchPlacesDiv {
    left: 42%;
    position: relative;
  }
}

@media only screen and (max-width: 890px) {
  #searchPlacesDiv {
    left: 35%;
    position: relative;
  }
}

@media only screen and (max-width: 790px) {
  #searchPlacesDiv {
    left: 30%;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  #searchPlacesDiv {
    left: 18%;
    position: relative;
  }

  #title-div {
    text-align: center;
  }
  
  #search-field-div {
    float: none;
    text-align: center;
  }
  
  #find-beer-home,
  #save-places-home,
  #rate-places-home {
    float: left;
    width: 100%;
    height: 195px;
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  #searchPlacesDiv {
    left: 15%;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  #searchPlacesDiv {
    left: 13%;
    position: relative;
  }
}

@media only screen and (max-width: 575px) {
  #searchPlacesDiv {
    left: 10%;
    position: relative;
  }
}

@media only screen and (max-width: 550px) {
  #searchPlacesDiv {
    left: 7%;
    position: relative;
  }
}
